@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body{
  height: 100vh;
}

.carousel::-webkit-scrollbar{
  width: 0;
}

.carousel:hover::-webkit-scrollbar{
  width: 500px;
}

.carousel::-webkit-scrollbar-thumb {
  display: none;
  background-color: #888;
  border-radius: 4px;
}

.carousel:hover::-webkit-scrollbar-thumb {
  display: block;
  background-color: #555;
}

:focus {
  outline: 2px solid #007ACC; /* You can choose your preferred color and style */
}


